@import 'variables';
@import 'layout';
.secone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.secdivtwo {
		flex: 8;
		padding: 2% 1% 2% 2%;
		h2 {
			padding: 2%;
		}
	}
	.secdivone {
		flex: 3;
		padding: 2%;
		.fa {
			margin-right: 10px;
		}
		.divbtn a {
			display: block;
		  	background-color: $maincol;
		  	border: 1px solid $maincol;
		  	border-radius: 4px;
		  	text-align:  center;
		  	text-transform: uppercase;
		  	color: white;
		  	padding-top: 6px;
		  	width: 150px;
		  	height: 20px;
	  	&:hover {
	  		text-decoration: underline;
	  	}
	  }
	}
}