/*put your scss here*/
$up: uppercase;
$maincol: hsla(0, 0%, 25%, .96);
$pcol: hsla(0, 0%, 40%, .96);
$btncol: hsla(0, 0%, 100%, .96);

header {
	background-image: image-url("banner.jpg");
	background-repeat: none;
	position: relative;
		a:hover {
			color: white;
		}
	h1{
		font-size: 600%;
		font-weight: 100;
		color: $maincol;
		text-align: center;
		text-transform: $up;
		position: absolute;
		top: -50px;
		left: 305px;
	  }
	  h2 {
	  	color: tan;
	  	font-weight: 100;
	  	text-align: center;
	  	text-transform: $up;
	  	position: absolute;
	  	top: 112px;
	  	left: 526px;
	  }
	  ul {

	  	position: absolute;
	  	top: 150px;
	  	left: 152px;
	  }

	  li {
	  	display: inline-block;
	  	font-size: 20px;
	  	padding: 25px;
	  }
	  a {
	  	color: black;
	  	text-decoration: none;
	  	text-transform: $up;
	  }
	  &::before, &::after {
	  	content: "";
	  	display: block;
	  	clear: both;
	  }
}

.button {
	  	display: block;
	  	background-color: $maincol;
	  	border: 1px solid $maincol;
	  	border-radius: 5px;
	  	text-align:  center;
	  	color: white;
	  	padding-top: 10px;
	  	width: 150px;
	  	height: 35px;
}

.secone {
	background-color: white;
	width: 100%;
	height: 770px;
	h2 {
		font-size: 50px;
		font-weight: 100;
		color: $maincol;
		text-transform: uppercase;
		padding: 35px 0px 0px 80px;
	}
	p {
		display: block;
		color: $pcol;
		font-size: 18px;
		padding: 10px 80px 10px 80px;
	}
	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}
}

.sectwo {
	background-color: lightgray;
	width: 100%;
	height: 600px;


	.one {
		float: left;
		width: 25%;
		a:hover {
			text-decoration: underline;
		}

		h2 {
			font-size: 30px;
			text-transform: $up;
			padding: 10px;
		}
		p {
			padding: 20px 30px 20px 35px;
			font-size: 18px;
		}

		 a {
			color: $pcol;
			text-decoration: none;
		}
	}
	.two {
		float: left;
		width: 50%;
		h2 {
			font-size: 30px;
			text-transform: $up;
			padding: 10px;
		}
		img {
			width: 90%;
		}
		p {
			width: 90%;
			color: $pcol;
			font-size: 20px;
			font-weight: 100;
		}
	}

	.three {
		float: left;
		width: 25%;
		a:hover {
			text-decoration: underline;
		}
	h2 {
		font-size: 30px;
		text-transform: $up;
		padding: 10px;
	}
	p {
		padding: 10px;
		font-size: 18px;
	}
	a {
		color: $pcol;
		text-decoration: none;
	}
	}

	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}

}

.btntwo {
	background: $maincol;
	border: 1px solid $maincol;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	position: relative;
	left: 35px;
	a:nth-of-type(1) {
		color: $btncol;
		position: absolute;
		top: 12px;
		left: 12px;
	}
}
footer {
	background-color: white;
	width: 100%;
	height: 80px;
	p {
		font: 50px;
		color: $pcol;
		text-align: center;
		text-transform: $up;
		margin: 50px 0 0 0;
	}
	p:nth-of-type(2){
		margin: 0;
		color: purple;
	}
}