%clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

%background {
	background-color: lighten($color-black, 85);
	padding: 20x;
}
@mixin btn-basics($border-width, $font-size) {
	padding: 10px 20px;
	background-color: $color-blue;
	border-radius: 4px;
	border: $border-width solid invert(darken($color-blue, 5));
	font-size: $font-size;
}
@mixin background-mixin($background-color, $border-color, $border-radius) {
	background-color: transparentize($background-color, .75);
	border: 1px solid darken($color-blue, 5);
	border-radius: 10px;
}

@mixin h1 ($background-color, $border-color, $font-size) {
	background-color: invert(transparentize($background-color, .50));
	
}