$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 100%, 100%, .96);
$gray: hsla(0, 0%, 50%, .96);
$drkgray: darken($gray, 10);
$drkestgray: darken($gray, 30);
$hotpink: hsla(330, 100%, 71%, .95);
$hotpinktrans: hsla(330, 100%, 71%, .30);
$tan: hsla(34, 44%, 17%, .96);
$dodgerblue: hsla(210, 100%, 56%, .95);