@import 'variables';
body {
	background-color: $black;
	font-family: 'Helvetica', Arial;
}

header {
	width: 100%;
	background-color: $hotpinktrans;
	box-shadow: 1px 1px 16px $white;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding: 1.5%;
		margin: 0;
		li {
			flex: 1;
			list-style: none;
			border-right: 1px solid $white;
			padding: 0;
			margin: 0;
			a {
				color: $white;
				font-size: 150%;
				text-decoration: none;
				text-align: center;
				shadow: 2px 8px 14px 48px $black;
				&:hover {
					text-align: center;
					width: 100%;
					border: 1px solid $hotpink;
					box-shadow: 2px 2px 10px $white;
					color: $dodgerblue;
					text-decoration: none;
					padding: 10%;
				}
			}
		}
	}
}
li:nth-of-type(1) {
				border-left: 1px solid $white;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 h1 {
		font-size: 300%;
		color: $white;
		margin: 5%;
	}
	h4 {
		color: white;
	}
}