/* VARIABLES goes here */
$navpink: hsla(335, 100%, 55%, 1);
$comppink: complementary(hsla(335, 100%, 55%, 1));
$keycolor: hsla(326, 97%, 42%, 1);
$bkgrdcolor: hsla(360, 100%, 0%, 1);
$graycolor: hsla(60, 0%, 26%, 1);
$purpleish: hsla(321, 74%, 33%, 1);
$txtcolor: hsla(360, 100%, 100%, 1);
$icon: hsla(226, 98%, 56%, 1);
$top-border: hsla(326, 91%, 78%, 1);
$topbrd-color: hsla(326, 91%, 80%, 1);
$rgh-border: hsla(326, 65%, 55%, 1);
$btm-border: hsla(326, 100%, 14%, 1);
$lft-border: hsla(326, 100%, 41%, 1);
$white: hsla(0, 100%, 100%, 1);