 ul {
 	background-color: hsla(224, 57%, 43%, .95);
 	width: 900px;
 	height: 400px;
 	border-radius: 53%;
 	border: 12px solid hsla(48, 100%, 48%, .95);
 }

li {
	display: block;
}

#dot{
	background-color: hsla(48, 100%, 48%, 1);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: relative;
    top: 80px;
    left: 256px;
	z-index: 50;
}

h4 span {
  font: 26px Monaco, MonoSpace;
  height: 50px;
  position: absolute;
  width: 20px;
  left: 9px;
  top: -30px;
  transform-origin: bottom center;
  color: hsl(48, 100%, 48%);
}

.char1 { transform: rotate(-36deg); }
.char2 { transform: rotate(-7deg); }
.char3 { transform: rotate(20deg); }
.char4 { transform: rotate(47deg); }
.char5 { transform: rotate(73deg); }
.char6 { transform: rotate(97deg); }
.char7 { transform: rotate(132deg); }

 li h1 {
 	color: hsla(0, 100%, 100%, .95);
 	font-size: 1355%;
 	position: relative;
    top: -30px;
    left: 28px;
    margin: 0;
    padding: 0;
 	 }

li h2 {
	color: hsla(0, 100%, 100%, .95);
	font-size: 400%;
	width: 290px;
	position: relative;
	top: -21px;
	left: 301px;
	margin: 0;
	padding: 0;
}

li h3 {
	color: hsla(0, 100%, 100%, .95);
	font-size: 60px;
	position: relative;
    top: -371px;
    left: 753px;

}
