/* sass goes here */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body font {
  family: 'sans-serf';
  font: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 20px 40px;
  display: inline-block;
  border: 1px solid white;
  color: white;
}
.btn:hover {
  background-color: #f7951d;
}

.floats .utiliy_nav::before, .floats.promos::before, .floats.features::before, .floats.about::before, .floats.do::before, .floats.product::before, .floats.news::before, .floats.hovers::before, .floats .utiliy_nav::after, .floats.promos::after, .floats.features::after, .floats.about::after, .floats.do::after, .floats.product::after, .floats.news::after, .floats.hovers::after {
  content: '';
  display: block;
  clear: both;
}

.floats .utiliy_nav {
  background-image: url("../img/patt1.png");
}
.floats .utiliy_nav li {
  display: inline-block;
  float: left;
}
.floats .utiliy_nav li i {
  margin: 0 1vw;
  float: left;
  font-size: 2em;
  color: #00b0f0;
}
.floats .utiliy_nav li div {
  float: left;
}
.floats .utiliy_nav h1 {
  float: left;
  color: #f26321;
  margin-bottom: 0;
}
.floats .utiliy_nav ul {
  float: right;
}
.floats nav {
  background-color: #121212;
  color: white;
}
.floats nav li {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 100;
  text-transform: uppercase;
}
.floats nav li:hover {
  background-color: #f7951d;
}
.floats nav a {
  display: block;
  padding: 25px 30px;
}
.floats .cta {
  text-align: center;
  padding: 100px 0;
  color: white;
  background-image: url("../img/page-1_slide1.jpg");
  background-size: cover;
  background-position: center;
}
.floats .cta h2 {
  font-size: 2em;
  text-transform: uppercase;
}
.floats.promos {
  padding: 75px 5vw;
  background-color: #f0f0f0;
}
.floats.promos div {
  width: 25%;
  float: left;
}
.floats.features {
  padding: 75px 5vw;
  text-align: center;
}
.floats.features div {
  width: 33.3333333%;
  float: left;
}
.floats.features div i {
  width: 3em;
  height: 3em;
  font-size: 3em;
  color: #00b0f0;
  border: 1px solid #00b0f0;
  border-radius: 50%;
  line-height: 3em;
  margin-bottom: 40px;
}
.floats.about {
  padding: 75px 5vw;
}
.floats.about div:first-child {
  width: 33%;
  float: left;
}
.floats.about div:last-child {
  width: 66%;
  float: left;
}
.floats.fixed1 {
  padding: 150px 0;
  background-image: url("../img/parallax1-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.floats.fixed1 h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: 100;
}
.floats.do h1 {
  color: #f7951d;
  font-size: 4em;
  text-align: center;
  padding: 75px 5vw;
}
.floats.do div {
  width: 33%;
  float: left;
  padding: 5%;
  box-sizing: border-box;
}
.floats.do div img {
  width: 100%;
  height: auto;
}
.floats.product {
  padding: 75px 5vw;
  background-color: #f0f0f0;
}
.floats.product h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.floats.product img {
  width: 100%;
  height: auto;
}
.floats.product div:first-child {
  width: 33%;
  float: left;
}
.floats.product div:last-child {
  width: 66%;
  float: left;
}
.floats.fixed2 {
  padding: 150px 0;
  background-image: url("../img/parallax1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.floats.fixed2 h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: 100;
}
.floats.news h1 {
  color: #f7951d;
  font-size: 4em;
  text-align: center;
  padding: 75px 5vw;
}
.floats.news div {
  width: 33%;
  float: left;
  padding: 5%;
  box-sizing: border-box;
}
.floats.news div img {
  width: 100%;
  height: auto;
}
.floats.hovers div {
  width: 14.28571;
  height: 14.28571vw;
  float: left;
  background-size: cover;
  background-position: center;
  transition: background-size 200ms ease-in-out;
}
.floats.hovers div:hover {
  background-size: 150%;
}
.floats.hovers div:nth-child(1) {
  background-image: url("../img/page-1_img8.jpg");
}
.floats.hovers div:nth-child(2) {
  background-image: url("../img/page-1_img9.jpg");
}
.floats.hovers div:nth-child(3) {
  background-image: url("../img/page-1_img10.jpg");
}
.floats.hovers div:nth-child(4) {
  background-image: url("../img/page-1_img11.jpg");
}
.floats.hovers div:nth-child(5) {
  background-image: url("../img/page-1_img12.jpg");
}
.floats.hovers div:nth-child(6) {
  background-image: url("../img/page-1_img8.jpg");
}
.floats.hovers div:nth-child(7) {
  background-image: url("../img/page-1_img9.jpg");
}

.flex .utiliy_nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex .utiliy_nav h1 {
  color: #f26321;
  margin-bottom: 0;
  margin-right: auto;
}
.flex .utiliy_nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex .utiliy_nav ul li {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex .utiliy_nav ul li i {
  margin: 0 1vw;
  font-size: 2em;
  color: #00b0f0;
}
.flex nav {
  background-color: #121212;
  color: white;
}
.flex nav ul {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex nav ul li {
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  text-transform: uppercase;
}
.flex nav ul li:hover {
  background-color: #f7951d;
}
.flex nav ul li a {
  display: block;
  padding: 25px 30px;
}
.flex .cta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25vw;
  color: white;
  background-image: url("../img/page-1_slide1.jpg");
  background-size: cover;
  background-position: center;
}
.flex .cta h2 {
  font-size: 2em;
  text-transform: uppercase;
}
.flex.promos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0;
  background-color: #f0f0f0;
}
.flex.promos div {
  width: 20%;
}
.flex.features {
  padding: 75px 0;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex.features div {
  width: 30%;
}
.flex.features div i {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3em;
  height: 3em;
  font-size: 3em;
  color: #00b0f0;
  border: 1px solid #00b0f0;
  border-radius: 50%;
  margin: 0 auto 40px;
}
.flex.about {
  padding: 75px 5vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.about div:first-child {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex.about div:last-child {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.flex.fixed1, .flex.fixed2 {
  padding: 150px 0;
  background-image: url("../img/parallax1-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex.fixed1 h1, .flex.fixed2 h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: 100;
}
.flex.do {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex.do span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex.do h1 {
  color: #f7951d;
  font-size: 4em;
  text-align: center;
  padding: 75px 5vw;
}
.flex.do div {
  padding: 5%;
}
.flex.do div img {
  width: 100%;
  height: auto;
}
.flex.product {
  padding: 75px 5vw;
  background-color: #f0f0f0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.product h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.flex.product img {
  width: 100%;
  height: auto;
}
.flex.product div:first-child {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex.product div:last-child {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.flex.fixed2 {
  background-image: url("../img/parallax1.jpg");
}
.flex.news {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex.news span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex.news h1 {
  color: #f7951d;
  font-size: 4em;
  text-align: center;
  padding: 75px 5vw;
}
.flex.news div {
  padding: 5%;
}
.flex.news div img {
  width: 100%;
  height: auto;
}
.flex.hovers {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.hovers div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 14.28571vw;
  background-size: 130%;
  background-position: center;
  transition: background-size 200ms ease-in-out;
}
.flex.hovers div:hover {
  background-size: 130%;
}
.flex.hovers div:nth-child(1) {
  background-image: url("../img/page-1_img8.jpg");
}
.flex.hovers div:nth-child(2) {
  background-image: url("../img/page-1_img9.jpg");
}
.flex.hovers div:nth-child(3) {
  background-image: url("../img/page-1_img10.jpg");
}
.flex.hovers div:nth-child(4) {
  background-image: url("../img/page-1_img11.jpg");
}
.flex.hovers div:nth-child(5) {
  background-image: url("../img/page-1_img12.jpg");
}
.flex.hovers div:nth-child(6) {
  background-image: url("../img/page-1_img8.jpg");
}
.flex.hovers div:nth-child(7) {
  background-image: url("../img/page-1_img9.jpg");
}
