body {
	display: flex;
}


section .content{
	display: flex;
	flex-direction: row;
	justify-content: start-start;
	div {
		flex: 1;
	}
}

@for $i from 1 through 3 {
	div:nth-of-type(#{$i})::before{
		//content: "#{$i}";
	}
}
$fruits: apple banana orange;
@each $fruit in $fruits {
	$i: index($fruits, $fruit);
	div:nth-of-type(#{$i})::before{
		content: "#{$fruit}";

	}
}