$white: hsla(0, 100%, 100%, .95);
$litbrwn: hsla(18, 74%, 47%, .95);
$gray: hsla(0, 0%, 32%, .95);
$blue: hsla(185, 100%, 21%, .95);
$drkgray: hsla(0, 0%, 16%, .95);
$bordergray: hsla(0, 0%, 90%, .96);
$fotbrwn: hsla(21, 35%, 50%, .96);
$othgray: hsla(0, 0%, 54%, .96);