@import 'variables';
@import 'reset';
//@import 'fontawesome';

html, body {
	height: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	input {
		margin: 5px;
	}
	div:nth-of-type(2) {
		input[type="text"]{
			width: 45px;
		}
	}
	label {
		display: flex;
		input[type='text']{
			width: 30px;
		}
	}
}

/*HEADER STARTS HERE*/
/*HEADER ENDS HERE*/

/*STARTS HERE*/
/*ENDS HERE*/

/*FOOTER STARTS HERE*/
/*FOOTER ENDS HERE*/