body {
  font-family: 'Lato', sans-serif, Ariel;
}

h2 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 900;
  color: #323338;
  padding: 0;
  margin: 0;
}

p {
  font-size: 13px;
  line-height: 180%;
  color: #525252;
}

a {
  font-size: 13px;
  text-decoration: none;
  color: #525252;
}
a:hover {
  text-decoration: underline;
}

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 450px;
  background-image: url("../img/banner.jpg");
}
header h1 {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(64, 64, 64, 0.96);
  margin: 6% 0 0 0;
}
header h2 {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  font-size: 100%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #8e8588;
}
header ul {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6%;
}
header li {
  list-style: none;
  font-size: 80%;
  margin-right: 5%;
}
header a {
  color: rgba(64, 64, 64, 0.96);
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
header a:hover {
  color: white;
}
header::before, header::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  display: block;
  background-color: rgba(64, 64, 64, 0.96);
  border: 1px solid rgba(64, 64, 64, 0.96);
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-top: 13px;
  width: 150px;
  height: 32px;
}
.button:hover {
  text-decoration: underline;
}

.sectwo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(217, 217, 217, 0.99);
  padding-top: 8%;
  padding-bottom: 8%;
}
.sectwo .one {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 2%;
}
.sectwo .one h2 {
  margin-bottom: 15%;
}
.sectwo .one p {
  margin: 15% 0 15% 0;
}
.sectwo .two {
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin: 1%;
}
.sectwo .two h2 {
  margin-bottom: 3%;
}
.sectwo .two img {
  width: 465px;
  height: 203px;
}
.sectwo .three {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 2%;
}

.btntwo {
  background: rgba(64, 64, 64, 0.96);
  border: 1px solid rgba(64, 64, 64, 0.96);
  border-radius: 4px;
  color: white;
  padding: 10px 14px;
  margin: 15% 0 5% 3%;
}

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(217, 217, 217, 0.99);
  border-top: 1px solid gray;
  border-width: 80%;
  padding: 3%;
  margin: 0;
}
footer p {
  font: 50px;
  color: rgba(102, 102, 102, 0.96);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
footer small {
  color: rgba(239, 6, 138, 0.99);
}
footer p:nth-of-type(2) {
  margin: 0;
  color: purple;
}

.secone {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  margin-top: 5%;
}
.secone .side1 {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 3%;
}
.secone .side1 h2 {
  font-size: 25px;
}
.secone .side1 p > a {
  display: inline-block;
  background: #323338;
  border-radius: 4px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  padding: 10px 14px;
  margin: 3% 0 20px 0;
}
.secone .side1 p > a:hover {
  Stext-decoration: underline;
}
.secone .mid {
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin: 3%;
}
.secone .mid h2 {
  font-size: 35px;
}
.secone .side2 {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 3%;
}
.secone .side2 h2 {
  font-size: 25px;
}
.secone .side2 a {
  display: block;
  border-bottom: 1px solid gray;
  line-height: 180%;
  white-space: nowrap;
  padding: 5%;
  margin: 0 0 3% 0;
}
.secone .side2 a:hover {
  text-decoration: underline;
}
.secone .side2 a:nth-of-type(7) {
  border: none;
}

.side2 a:last-of-type {
  display: inline-block;
  background: #323338;
  border: 1px solid #323338;
  border-radius: 4px;
  line-height: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 8px 12px;
  margin-top: 15%;
  white-space: nowrap;
}
.side2 a:last-of-type:hover {
  text-decoration: underline;
}
