/*put your scss here*/
header {
  background-image: url('../images/banner.jpg');
  background-repeat: none;
  position: relative;
}
header a:hover {
  color: white;
}
header h1 {
  font-size: 600%;
  font-weight: 100;
  color: rgba(64, 64, 64, 0.96);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -50px;
  left: 305px;
}
header h2 {
  color: tan;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 112px;
  left: 526px;
}
header ul {
  position: absolute;
  top: 150px;
  left: 152px;
}
header li {
  display: inline-block;
  font-size: 20px;
  padding: 25px;
}
header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header::before, header::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  display: block;
  background-color: rgba(64, 64, 64, 0.96);
  border: 1px solid rgba(64, 64, 64, 0.96);
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-top: 10px;
  width: 150px;
  height: 35px;
}
