/* VARIABLES goes here */
/* GLOBEL MARK UP goes here */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body {
  margin: 0;
}

ul, ol {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
}

html, body {
  height: 100%;
}

/*HEADER STARTS HERE*/
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
body p {
  font-size: 3em;
}

main, header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main > button, header > button {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 2px;
  background-color: #9cbac9;
  border-color: #7aa3b8;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}
main div, header div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.25;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 2px;
}
main input, main button, header input, header button {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: black;
  padding: 5px;
  border: inherit;
  border-radius: inherit;
  margin: 10px;
}
main input[type='button'], main button, header input[type='button'], header button {
  background-color: #9cbac9;
  border-color: #7aa3b8;
  color: white;
}
main input[type='button']:hover, main button:hover, header input[type='button']:hover, header button:hover {
  background-color: #7aa3b8;
  border-color: #598ca6;
  cursor: pointer;
}
main input[type='button']:disabled, main button:disabled, header input[type='button']:disabled, header button:disabled {
  background-color: #b3b3b3;
  border-color: graysccale(#7aa3b8);
  cursor: not-allowed;
}
main input:disabled, header input:disabled {
  background-color: #f2f2f2;
}

/*HEADER ENDS HERE*/
/*STARTS HERE*/
/*ENDS HERE*/
/*FOOTER STARTS HERE*/
/*FOOTER ENDS HERE*/
