%clearfix {
	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin lineh_font($fs) {
	$width: $fs + .25;
	line-height: 3vw;
	font-size: $fs;
	&::before, &::after {
		width: $width;
		text-align: center;
	}
}