@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import "rest";
@import "variables";
@import "logic";

body {
	background-color: hsla(0, 0%, 95%, 1);
}

main {
	width: 50%;
	height: 35vw;
	background-color: $red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: {
		image: url('../img/banner.jpg');
		size: cover;
		position: center;
		repeat: no-repeat;
	}
	border: 1px solid white;
	box-shadow: -5px +5px 20px 0 transparentize(black, .5);
}

/*

oriontation butto:
close
minimize
maximize

address bar

refresh button/stop (hover)

foward and back buttons or arrows

*/
span {
	display: inline-block;
	&::before, &::after {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
}
#top_header, #bottom_header {
	background-color: white;
	@extend %clearfix;
	padding: .5vw;
}
#top_header {
	background-color: hsla(0, 0%, 95%, 1);
}
.ot_btn {
	float: left;
	span {
		color: $yellow;
		@include lineh_font(1vw);
		//font-size: 1vw;
		width: 1vw;
		//line-height: 3vw;
		&::before {
			content: '\f111';
		}
		&:hover::before {
			content: '\f006';
		}
		&:first-child {
			color: red;
		}
		&:last-child {
			color: green;
		}
	}
}

.user {
	$user_btn: 3vw;
	float: right;
	border: 1px solid black;
	//width: $user_btn;
	//height: ($user_btn/2);
	@include lineh_font(1.5vw);
	//font-size: 1.5vw;
	font-family: sans-serif;
	padding: 0 .4vw;
	border-radius: 4px;
	display: inline-block;

}
 header hr {
	margin: 0;
	border-width: 0 0 1px 0;
}

#bottom_header {
	background-color: hsla(0, 0%, 92%, 1);
}
.nav_btns {
	float: left;
	span {
		width: 3.5vw;
		@include lineh_font(1.5vw);
		//font-size: 1.5vw;
		//line-height: 3vw;
	}
	span::before {
		content: '\f060';
	}
	span::after {
		content: '\f061';
	}
}
.refresh {
	float: left;
	span {
		width: 1.75vw;
		text-align: center;
		@include lineh_font(1.5vw);
		//font-size: 1.5vw;
		//line-height: 3vw;
	}
	span::before {
		content: '\f021';
	}
	span:hover::before {
		content: '\f00d'
	}
}
.addr {
	float: left;
	width: calc(100% - 6vw);
	@include lineh_font(2vw);
	//font-size: 2vw;
	//line-height: 3vw;
}

.settings {
	margin-left: .25vw;
	float: left;
	span {
		width: 1.75vw;
		text-align: center;
		@include lineh_font(1.5vw);
		//font-size: 1.5vw;
		//line-height: 3vw;
	}
	span::before {
		content: '\f0c9';
	}
}
