@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/*GLOBAL styles start*/
header nav::before, #main_container::before, header nav::after, #main_container::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 3%;
  color: #636979;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin: 3%;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #cfd2d8;
  border-radius: 5px;
  font-weight: 700;
  color: #4c515d;
}
.btn.btn-info {
  background-color: white;
}
.btn.btn-signup {
  background-color: #00b37a;
}

/*GLOBAL styles end*/
/*HEADER styles start*/
header {
  background-color: white;
  color: #cfd2d8;
}
header nav {
  margin-bottom: 10px;
}
header nav h1 {
  margin: 1% 1%;
  float: left;
  line-height: 1em;
}
header nav ul {
  float: right;
}
header nav li {
  display: inline-block;
  line-height: 1em;
}
header nav li a {
  color: transparent(white, 0.5);
  transition: color 200ms ease-in-out;
}
header nav li a:hover {
  color: #636979;
}

#under_head {
  background-color: white;
  text-align: center;
  margin: 5% 0;
}
#under_head h1 {
  color: #4c515d;
}
#under_head p {
  margin: 3%;
}

/*HEADER styles end*/
/*Section Main Container style start*/
#main_container h2 {
  margin: 3%;
}
#main_container #left_container {
  background: white;
  margin: 3%;
  width: 34%;
  float: left;
}
#main_container hr {
  margin: 15%;
}
#main_container #right_container {
  background: white;
  margin: 3%;
  width: 54%;
  float: right;
}
#main_container img {
  margin: 3%;
  border-radius: 10px;
  width: 93%;
}
#main_container ul {
  line-height: 2em;
  color: #4c515d;
}
#main_container ul li a {
  color: #636979;
  text-decoration: none;
}

@media screen and (max-width: 766px) {
  #left_container {
    float: none;
    width: 100%;
  }

  #right_container {
    width: 100%;
  }
}
/*Section left style end*/
/*FOOTER styles start*/
footer {
  background-color: #4c515d;
  color: white;
  padding: 75px 0;
}
footer div {
  width: 30%;
  float: left;
  margin: 0 5% 75px 0;
}
footer div:last-of-type {
  margin-right: 0;
}
footer p {
  width: 100%;
  clear: both;
  margin: 50px 0;
}
footer ul, footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 766px) {
  footer div {
    width: 100%;
    float: none;
  }
}
/*Footer style end*/
