@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,700|Playfair+Display:400,700);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 20px;
}

strong {
  font-family: inherit;
  font-weight: 700;
}

h {
  font-size: 0.3em;
}

h {
  font-size: 0.6em;
}

h {
  font-size: 0.9em;
}

h {
  font-size: 1.2em;
}

h {
  font-size: 1.5em;
}

h {
  font-size: 1.8em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .bio {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .stats-wrap {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.bio img {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid lightgray;
}
.bio blockquote {
  font-size: 1.25em;
  font-style: italic;
  padding: 1em 2em;
  margin: 50px 0;
  border-left: 2px solid lightgray;
  position: relative;
}
.bio blockquote::before {
  content: '\201C';
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 5em;
  position: absolute;
  left: 0;
  top: -0.5em;
}
.bio .album-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bio .album-wrap div:nth-of-type(1) {
  background-image: url("../img/album-adele.jpg");
}
.bio .album-wrap div:nth-of-type(2) {
  background-image: url("../img/album-ariana-grande.jpg");
}
.bio .album-wrap div:nth-of-type(3) {
  background-image: url("../img/album-bastille.jpg");
}
.bio .album-wrap div:nth-of-type(4) {
  background-image: url("../img/album-beyonce.jpg");
}
.bio .album-wrap div:nth-of-type(5) {
  background-image: url("../img/album-bruno-mars.jpg");
}
.bio .album-wrap div:nth-of-type(6) {
  background-image: url("../img/album-coldplay.jpg");
}
.bio .album-wrap div:nth-of-type(7) {
  background-image: url("../img/album-dmx.jpg");
}
.bio .album-wrap div:nth-of-type(8) {
  background-image: url("../img/album-guns-n-roses.jpg");
}
.bio .album-wrap div:nth-of-type(9) {
  background-image: url("../img/album-katy-perry.jpg");
}
.bio .album-wrap div:nth-of-type(10) {
  background-image: url("../img/album-mariah-carey.jpg");
}
.bio .album-wrap div:nth-of-type(11) {
  background-image: url("../img/album-misfits.jpg");
}
.bio .album-wrap div:nth-of-type(12) {
  background-image: url("../img/album-moby.jpg");
}
.bio .album-wrap div:nth-of-type(13) {
  background-image: url("../img/album-notorious-big.jpg");
}
.bio .album-wrap div:nth-of-type(14) {
  background-image: url("../img/album-offspring.jpg");
}
.bio .album-wrap div:nth-of-type(15) {
  background-image: url("../img/album-outkast.jpg");
}
.bio .album-wrap div:nth-of-type(16) {
  background-image: url("../img/album-pink-floyd.jpg");
}
.bio .album-wrap div:nth-of-type(17) {
  background-image: url("../img/album-sia.jpg");
}
.bio .album-wrap div:nth-of-type(18) {
  background-image: url("../img/album-stone-temple-pilots.jpg");
}
.bio .album-wrap div:nth-of-type(19) {
  background-image: url("../img/album-sublime.jpg");
}
.bio .album-wrap div:nth-of-type(20) {
  background-image: url("../img/album-weezer.jpg");
}
.bio .album-wrap div {
  width: 85px;
  height: 85px;
  margin: 5px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.stats-graph {
  background-color: rgba(122, 163, 184, 0.25);
  padding: 20px;
}
.stats-graph h1 {
  text-align: center;
  color: #7aa3b8;
}
.stats-graph div {
  margin-bottom: 20px;
  background-color: rgba(122, 163, 184, 0.25);
  padding: 5px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.stats-graph div:nth-of-type(1)::before {
  background-image: url("../img/user-angie.jpg");
}
.stats-graph div:nth-of-type(1) span::before {
  content: "angie";
}
.stats-graph div:nth-of-type(2)::before {
  background-image: url("../img/user-brianne.jpg");
}
.stats-graph div:nth-of-type(2) span::before {
  content: "brianne";
}
.stats-graph div:nth-of-type(3)::before {
  background-image: url("../img/user-claire.jpg");
}
.stats-graph div:nth-of-type(3) span::before {
  content: "claire";
}
.stats-graph div:nth-of-type(4)::before {
  background-image: url("../img/user-franklin.jpg");
}
.stats-graph div:nth-of-type(4) span::before {
  content: "franklin";
}
.stats-graph div:nth-of-type(5)::before {
  background-image: url("../img/user-gary.jpg");
}
.stats-graph div:nth-of-type(5) span::before {
  content: "gary";
}
.stats-graph div:nth-of-type(6)::before {
  background-image: url("../img/user-genie.jpg");
}
.stats-graph div:nth-of-type(6) span::before {
  content: "genie";
}
.stats-graph div:nth-of-type(7)::before {
  background-image: url("../img/user-jacob.jpg");
}
.stats-graph div:nth-of-type(7) span::before {
  content: "jacob";
}
.stats-graph div:nth-of-type(8)::before {
  background-image: url("../img/user-jonathan.jpg");
}
.stats-graph div:nth-of-type(8) span::before {
  content: "jonathan";
}
.stats-graph div:nth-of-type(9)::before {
  background-image: url("../img/user-phillip.jpg");
}
.stats-graph div:nth-of-type(9) span::before {
  content: "phillip";
}
.stats-graph div:nth-of-type(10)::before {
  background-image: url("../img/user-rebecca.jpg");
}
.stats-graph div:nth-of-type(10) span::before {
  content: "rebecca";
}
.stats-graph div:nth-of-type(11)::before {
  background-image: url("../img/user-shaun.jpg");
}
.stats-graph div:nth-of-type(11) span::before {
  content: "shaun";
}
.stats-graph div:nth-of-type(12)::before {
  background-image: url("../img/user-tessa.jpg");
}
.stats-graph div:nth-of-type(12) span::before {
  content: "tessa";
}
.stats-graph div::before {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.stats-graph div:nth-of-type(1) span {
  width: calc(67 - 55px);
  background-color: #2ad552;
}
.stats-graph div:nth-of-type(2) span {
  width: calc(21 - 55px);
  background-color: #9a8a65;
}
.stats-graph div:nth-of-type(3) span {
  width: calc(56 - 55px);
  background-color: #4bc738;
}
.stats-graph div:nth-of-type(4) span {
  width: calc(74 - 55px);
  background-color: #21de79;
}
.stats-graph div:nth-of-type(5) span {
  width: calc(58 - 55px);
  background-color: #3fc936;
}
.stats-graph div:nth-of-type(6) span {
  width: calc(108 - 55px);
  background-color: #0066ff;
}
.stats-graph div:nth-of-type(7) span {
  width: calc(103 - 55px);
  background-color: #0091ff;
}
.stats-graph div:nth-of-type(8) span {
  width: calc(31 - 55px);
  background-color: #a4a758;
}
.stats-graph div:nth-of-type(9) span {
  width: calc(97 - 55px);
  background-color: #04c1fb;
}
.stats-graph div:nth-of-type(10) span {
  width: calc(67 - 55px);
  background-color: #2ad552;
}
.stats-graph div:nth-of-type(11) span {
  width: calc(49 - 55px);
  background-color: #6fbe41;
}
.stats-graph div:nth-of-type(12) span {
  width: calc(78 - 55px);
  background-color: #1ce393;
}
.stats-graph span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #7aa3b8;
  padding: 0 10px;
  font-family: 'Playfair',  serif;
}

.stats-deets ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  list-style: none;
  padding: 0;
  overflow: auto;
  width: 100%;
}
.stats-deets li {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 50vw;
  padding: 20px;
}
.stats-deets li:nth-of-type(1) div {
  background-image: url("../img/album-adele.jpg");
}
.stats-deets li:nth-of-type(2) div {
  background-image: url("../img/album-ariana-grande.jpg");
}
.stats-deets li:nth-of-type(3) div {
  background-image: url("../img/album-bastille.jpg");
}
.stats-deets li:nth-of-type(4) div {
  background-image: url("../img/album-beyonce.jpg");
}
.stats-deets li:nth-of-type(5) div {
  background-image: url("../img/album-bruno-mars.jpg");
}
.stats-deets li:nth-of-type(6) div {
  background-image: url("../img/album-coldplay.jpg");
}
.stats-deets li:nth-of-type(7) div {
  background-image: url("../img/album-dmx.jpg");
}
.stats-deets li:nth-of-type(8) div {
  background-image: url("../img/album-guns-n-roses.jpg");
}
.stats-deets li:nth-of-type(9) div {
  background-image: url("../img/album-katy-perry.jpg");
}
.stats-deets li:nth-of-type(10) div {
  background-image: url("../img/album-mariah-carey.jpg");
}
.stats-deets li:nth-of-type(11) div {
  background-image: url("../img/album-misfits.jpg");
}
.stats-deets li:nth-of-type(12) div {
  background-image: url("../img/album-moby.jpg");
}
.stats-deets li:nth-of-type(13) div {
  background-image: url("../img/album-notorious-big.jpg");
}
.stats-deets li:nth-of-type(14) div {
  background-image: url("../img/album-offspring.jpg");
}
.stats-deets li:nth-of-type(15) div {
  background-image: url("../img/album-outkast.jpg");
}
.stats-deets li:nth-of-type(16) div {
  background-image: url("../img/album-pink-floyd.jpg");
}
.stats-deets li:nth-of-type(17) div {
  background-image: url("../img/album-sia.jpg");
}
.stats-deets li:nth-of-type(18) div {
  background-image: url("../img/album-stone-temple-pilots.jpg");
}
.stats-deets li:nth-of-type(19) div {
  background-image: url("../img/album-sublime.jpg");
}
.stats-deets li:nth-of-type(20) div {
  background-image: url("../img/album-weezer.jpg");
}
.stats-deets div {
  width: 30vw;
  height: 30vw;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
